<div class="header"><h1>Lorola online   ♪♪</h1></div>
<div class="mainContainer" *ngIf="getLoggedStatus()">
  <div *ngIf="!autenticated && foundSong" class="beforeAuth">
    <h1 class="textContent">Verifica la tua Carolaggine..</h1>
    <div class="checkContainer">
      <input #aiuti type="checkbox" id="aiuti" name="aiuti" value="aiuti" (change)="checked(aiuti.checked)">
      <label for="aiuti">Attiva aiuti</label>
    </div>
    <div class="letterHolder" *ngFor="let word of separathedFrase;let i=index">
      <input *ngFor="let letter of getLetters(word);let windex=index" class="letterINput" (input)="modifiedletter(windex+getIndexToAdd(i),$event)"    maxlength="1" [id]="windex+getIndexToAdd(i)">
    </div>
   

  </div>
  <div *ngIf="!autenticated && !foundSong" class="beforeAuth">
    <h1 class="textContent white">non sono state trovate canzoni per questo utente..</h1>
    
   

  </div>
  <div class="beforeAuth autenticating" *ngIf="autenticating">
    {{dedication}}
    
  </div>
  <div class="youtubeContainer">
    <youtube-player [width]="300"  [videoId]="videoId"  [playerVars]="playerConfig" (stateChange)="checkVideoEnded($event)"></youtube-player>
  </div>
</div>


<div class="mainContainer " *ngIf="!getLoggedStatus()">
  <div  class="beforeAuth authHeight">
    <h1 class="textContent">Enter username</h1>
    <input class="authInput" #userName>
    <h1 class="textContent secondTitle">Enter password</h1>
    <input class="authInput secondInput" #pass>
    <button class="logInButton" (click)="verifyAuth(userName.value,pass.value,userName,pass)">Log-in</button>
    <label class="errorMessageAuth" *ngIf="errorMessageForLogIn.length>0">{{errorMessageForLogIn}}</label>
  </div>
</div>